<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LoginByEmail</title>

        <!-- CSS -->
        <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"> -->
        <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="./assets/css/form-elements.css">
        <link rel="stylesheet" href="./assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="./assets/ico/apple-touch-icon-57-precomposed.png">
    </head>
    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>邮箱登录</h1>
                            <div class="description">
                            	<p>
	                            	This is a free responsive login form made with Bootstrap.
	                            	Download it on <a href="#"><strong>AZMIND</strong></a>, customize and use it as you like!
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                                    <h3>专为考试而设</h3>
                                    <p>输入的你的邮箱以登录:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" id="loginForm" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">您的邮箱</label>
			                        	<input type="text" name="email" placeholder="邮箱" class="form-username form-control" id="email">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">密码</label>
			                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="password">
			                        </div>
			                        <button type="button" class="btn" onclick="loginByEmail()">登录</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h3>更多登录选择:</h3>
                        	<div class="social-login-buttons">
	                        	<a class="btn btn-link-2" href="/loginByEmail">
	                        		<i class="fa fa-facebook"></i> 账号登录
	                        	</a>
	                        	<a class="btn btn-link-2" href="/loginByPhone">
	                        		<i class="fa fa-twitter"></i> 手机号登录
	                        	</a>
	                        	<a class="btn btn-link-2" href="/register">
	                        		<i class="fa fa-google-plus"></i>还没有账号？注册
	                        	</a>
                                  <input type="hidden" id="basePathUrl"/>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Javascript -->
        <script src="./assets/js/jquery-1.11.1.min.js"></script>
        <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="./assets/js/jquery.backstretch.min.js"></script>
        <script src="./assets/js/scripts.js"></script>
        <script src="./assets/js/json2.js"></script>
        <script type="text/javascript" th:inline="javascript">
            function loginByEmail(){
                var loginData=$("#loginForm").serializeArray();
                loginData=transformToJson(loginData);
                var baseUrl=getBaseUrl();
                $.ajax({
                    url: baseUrl+'/loginCheckByEmail',
                    type: 'POST',
                    dataType: "json",
                    contentType: 'application/json;charset=utf-8',
                    data: JSON.stringify(loginData),//json对象
                    success:function(data) {
                       alert(data.msg);
                        if(data.code==200){
                             window.location.href = baseUrl+'/index';
                            }
                    }
                })
            }
            //serializeArray()转化为json字符串方法
            function transformToJson(formData){
                var obj={}
                for (var i in formData) {
                    /*[{"name":"user","value":"hpc"},{"name":"pwd","value":"123"},{"name":"sex","value":"M"},{"name":"age","value":"100"},{"name":"phone","value":"13011112222"},{"name":"email","value":"xxx@xxx.com"}]
                    */
                    //下标为的i的name做为json对象的key，下标为的i的value做为json对象的value
                    obj[formData[i].name]=formData[i]['value'];
                }
                return obj;
            }


            var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;
            function getBaseUrl() {
                $("#basePathUrl").val(basePath);
                var a = $("#basePathUrl").val();
                return a;
            }

        </script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
    </body>
</html>
